<!--<li class="fi-sidebar-item">-->
<!--    <a href="{{route('ltu.translation.index')}}" x-on:click="window.matchMedia(`(max-width: 1024px)`).matches &amp;&amp; $store.sidebar.close()" class="fi-sidebar-item-button relative flex items-center justify-center gap-x-3 rounded-lg px-2 py-2 outline-none transition duration-75 hover:bg-gray-100 focus-visible:bg-gray-100 dark:hover:bg-white/5 dark:focus-visible:bg-white/5">-->
<!--        &lt;!&ndash;[if BLOCK]><![endif]&ndash;&gt;    <svg class="fi-sidebar-item-icon h-6 w-6 text-gray-400 dark:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">-->
<!--        <path stroke-linecap="round" stroke-linejoin="round" d="M6 6.878V6a2.25 2.25 0 0 1 2.25-2.25h7.5A2.25 2.25 0 0 1 18 6v.878m-12 0c.235-.083.487-.128.75-.128h10.5c.263 0 .515.045.75.128m-12 0A2.25 2.25 0 0 0 4.5 9v.878m13.5-3A2.25 2.25 0 0 1 19.5 9v.878m0 0a2.246 2.246 0 0 0-.75-.128H5.25c-.263 0-.515.045-.75.128m15 0A2.25 2.25 0 0 1 21 12v6a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 18v-6c0-.98.626-1.813 1.5-2.122"></path>-->
<!--    </svg>&lt;!&ndash;[if ENDBLOCK]><![endif]&ndash;&gt;-->
<!--        <span class="fi-sidebar-item-label flex-1 truncate text-sm font-medium text-gray-700 dark:text-gray-200">-->
<!--            Translate Files-->
<!--        </span>-->

<!--    </a>-->
<!--</li>-->


<p>
    Quibasa works with several qualified carriers and couriers to ship our products. Upon confirmation of your order, our team will contact you informing the best shipping option. We take into consideration both the deadline and the low cost. Products will be shipped by carrier or Courier according to order items and availability in your region.
</p>

<p>
    Some products may have sales restrictions.
</p>

<p>
    Please take into account both Brazilian and your country's' sanitary registration legislation.
</p>

<p>
    We reserve the right not to fulfill orders that do not meet current standards and legislation.
</p>